<label for="dogImage"><b>Image link: </b></label>
<input id="dogImage" type="text" name="image" value={{dog.image}}>
<br><br>
<label for="dogName"><b>Name: </b></label>
<input id="dogName" type="text" name="name" value={{dog.name}}>
<br><br>
<label for="dogAge"><b>Age (in years): </b></label>
<input id="dogAge" type="number" name="age" value={{dog.age}}>
<br><br>
<label for="description"><b>Description: </b></label>
<input id="description" type="text" name="description" value={{dog.description}}>
<br><br>
